---
---

@import "{{ site.theme }}";

.page-header {
  color: #a30841;
  text-align: center;
  background-color: #a88399;
  background-image: linear-gradient(120deg, #a88399, #71c6a7);
  
 } 

body {
  padding: 10px;
  background-color: #ffc1e4; 
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #7a012d;
 
}

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #4c0035;
  }

blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #370b51;
    border-left: 0.3rem solid #34aeb5;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

a {
  color: $body-link-color;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}



 
